.App {
  text-align: center;
  max-width: 70%;
}

.List {
  display: flex;
  flex-wrap: wrap;
} 

.Item {
  border: 1px solid black;
  list-style-type: none;
  margin-left: 2rem;
  margin-bottom: 2rem;
  width: 10rem;
  min-height: 10rem;
  display: block;
  position: relative;
}

.Item-Content {
  overflow: hidden;
}

.Item-DeleteButton {
  position: absolute;
  z-index: 99;
  bottom: -1rem;
  right: -2rem;
}

.AddForm {
  display: flex;
  flex-direction: column;
  position: relative;
}

.AddForm-Textarea {
  width: 50%;
  min-height: 5rem;
  margin: auto;
}

.AddForm-Button {
  width: 3rem;
  position: absolute;
  z-index: 98;
  bottom: 0.5rem;
  right: 25%;
}